<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>违章查询</title>
    <style>
        #result td {
            text-align: center;
        }
        #data {
            border-collapse: collapse;
            border-collapse: collapse;
        }
        #data th {
            border-bottom: 1px solid black;
        }
        #data tr:last-child>td{
            border: none;
        }
        #data td{
            border-bottom: 1px dashed black;
        }
    </style>
</head>
<body>
    <div id="result">
        <form id="search" action="/search/" method="post">
            {% csrf_token %}
            <input type="text" size="30" name="carinfo" value="{{ carinfo }}" placeholder="请输入车牌号或车主姓名">
            <input type="submit" value="查询">
        </form>
        <hr>
        {% if page_obj.object_list %}
        <table id="data">
            <tr>
                <th width="100">车牌号</th>
                <th width="100">车主姓名</th>
                <th width="150">违章原因</th>
                <th width="180">违章时间</th>
                <th width="180">处罚方式</th>
                <th width="100">是否受理</th>
                <th width="120">操作</th>
            </tr>
            {% for record in page_obj.object_list %}
            <tr>
                <td>{{ record.car.carno }}</td>
                <td>{{ record.car.owner }}</td>
                <td>{{ record.reason }}</td>
                <td>{{ record.makedate }}</td>
                <td>{{ record.punish }}</td>
                <td>{{ recoed.dealt | yesno:'已受理,未受理' }} </td>
                <td>
                    <a class="handle" href="/handle/?rno={{ record.no }}">受理</a>
                    <a class="delete" href="/delete/?rno={{ record.no }}">删除</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        <div class="buttons">
            <button data="?size={{ page_size }}">首页</button>&nbsp;&nbsp;
            {% if page_obj.has_previous %}
            <button data="?page={{ page_obj.number | add:'-1'}}&size={{ page_size }}">上一页</button>&nbsp;&nbsp;
            {% else %}<button disabled>上一页</button>
            {% endif %}
            第 {{ page_obj.number }} 页/共 {{ total_page }} 页&nbsp;&nbsp;
            {% if page_obj.has_next %}
            <button data="?page={{ page_obj.number | add:'1' }}&size={{ page_size }}">下一页</button>&nbsp;&nbsp;
            {% else %}<button disabled>下一页</button>
            {% endif %}
            <button data="?page={{ total_page }}&size={{ page_size }}">末页</button>
        </div>
        {% endif %}
    </div>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $('.buttons').on('click', evt => {
            let queryString = $(evt.target).attr('data')
            $('#search').attr('action', '/search/' + queryString).trigger('submit')
        })
    </script>
</body>
</html>